.git
.github
.idea
.vscode
.venv
backend_api/.venv
backend_api/.tmp
app_flutter/.dart_tool
app_flutter/.idea
app_flutter/build
app_flutter/.pub-cache
node_modules
.wrangler
__pycache__
*.pyc
*.pyo
*.log
coverage
build
