.dart_tool/
.idea/
.vscode/
.venv/
backend_api/.venv/
backend_api/.tmp/
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
build/
coverage/
node_modules/
.wrangler/
var/log/
.env.home
.env.production
backend_api/.pytest_cache/
app_flutter/.packages
app_flutter/.flutter-plugins
app_flutter/.flutter-plugins-dependencies
app_flutter/.metadata
app_flutter/pubspec.lock
